* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*font-family: "SuisseIntl-Regular";*/
    font-family: "SuisseIntl-SemiBold", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #151515;
    overflow: hidden;
    background-image: url('../img/bg-360.png');
    background-position: center center;
}
form, .thank-you {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 24px;
    background: linear-gradient(129deg, rgba(250, 250, 250, 0.07) -0.77%, rgba(164, 164, 164, 0.00) 140.72%);
    box-shadow: 14.219px 15.234px 43.672px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5.078px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15.7421875px);
}
.hidden {
    display: none;
}
.header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 24px;
}
.header h1, .thank-you h2 {
    color: #F0F0F0;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.4px;
}
.header__close {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-size: contain;
    background: transparent url('../img/close-icon.svg') no-repeat center center;
    cursor: pointer;
}
.header__close:hover {
    transition: all 0.3s ease;
    opacity: 0.7;
}
.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.inputs input {
    border-radius: 8px;
    border: 1.016px solid #ABABAB;
    padding: 12px 20px;
    background: linear-gradient(129deg, rgba(250, 250, 250, 0.10) -0.77%, rgba(164, 164, 164, 0.00) 140.72%);
    box-shadow: 14.219px 15.234px 43.672px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5.078px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15.7421875px);
    color: #FFFFFF;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.inputs input::placeholder {
    color: rgba(173, 173, 173, 0.50);
    font-family: 'Suisse Intl', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
}
.inputs label{
    display: none;
}
.inputs label.error {
    display: block;
    background: #ffffff;
    color: #FF5858;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.2px;
    transition: all .2s;
    position: relative;
    margin: 8px 0 -4px 0;
    border-radius: 2px;
    padding: 0;
    width: max-content;
    max-width: 100%;
}
.terms {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 12px;
    cursor: pointer;
}
.terms p, .thank-you p {
    color: #F0F0F0;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.terms a {
    text-decoration-line: underline;
    color: inherit;
}
.terms span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}
.terms span img {
    opacity: 0;
    transition: .3s;
}
.terms.error {
    border: 1px solid #FF5858;
    border-radius: 10px;
    padding: 8px;
    margin: 8px -8px -8px -8px;
    transition: border 0.3s ease;
}
.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkbox:checked + span img {
    opacity: 1;
}
#submitForm, #returnToForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    margin: 24px auto 16px;
    background: #8F8FFF;
    border-radius: 16px;
    border: 1px solid #8F8FFF;
    transition: background-color 0.3s ease;
    color: #ffffff;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
#submitForm:hover, #returnToForm:hover {
    background: #A3A3FF;
}
#submitForm:active, #returnToForm:active {
    background: #6464FF;
}
#submitForm:disabled, #returnToForm:disabled {
    background: mediumvioletred;
    border: 1px solid #8F8FFF;
}









